<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

          <p style="font-size:80%; text-align:left;"></p>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p style="font-size:80%; text-align:right;">© Copyright 2017-2019 James Harrop</p>
      </div>
    </div>

  </div>

</footer>
